.panda-bg-info{
    background-color: #FCEAE8;
}

.catagory-img{
    width: 100px;
}

.panda-button-buynow{
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF2178;
}

/* .submit-button{
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF2178;
} */